body{
    /*background-color: #EE4878;*/
    font-family: "Roboto", sans-serif;
}

.navbar{
    background-color: white;

}

#brand-logo{
    width: 70px;
    height: 70px;
}

#contact-me{
    font-size: 1.25em;
    background-color: white;
    color: #EE4878;
    border: 1px solid #EE4878;
}
#contact-me:hover{
    background-color: #EE4878;
    color: white;
}

nav{
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    margin: auto;
    font-size: 5em;
    color: black;
}


#subtitle{
    margin: auto;
    color: #EE4878;
    font-size: 2.5em;
}



#animated-container{
    height: 500px;
    width: 500px;

}

@media (min-width: 576px) {
    .work-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #row-1, #row-2{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .work-panel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #row-1, #row-2{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 992px) {
    .work-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 1200px) {
    .work-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #row-1, #row-2{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
    }
}




/*.my-work{*/
/*    margin-top: 100px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    max-width: 1000px;*/
/*    width: 100%;*/
/*}*/

#work-1{
    font-size: 2.5em;
}

#work-2{
    font-size: 1.5em;
    color: gray;
}

#email{
    text-decoration:none;
}


.work-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}



#c1 ,#c2 ,#c3, #c4, #c5, #c6{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #EE4878;
    font-size: 50px;
    width: 400px;
    border-radius: 10px;
    height: 300px;
    border: 3px solid #EE4878;
    background-color: white;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px ;
}

#c1:hover ,#c2:hover ,#c3:hover, #c4:hover, #c5:hover, #c6:hover{
    color: white;
    width: 400px;
    border-radius: 10px;
    height: 300px;
    background-color: #EE4878;
    margin-right: 50px;
    margin-left: 50px;
}

